* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
   
    align-items: center;
   
    max-width: 100%;
    padding: 0 20px;
}

.logo img {
    max-width: 100px;
}

.logo{
    margin-left: 43%;
}

nav {
   
    margin-left: 37%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.content {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.domain-search {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.domain-search h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.domain-search form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.domain-search input[type="text"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.domain-search button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.domain-results {
    margin-top: 20px;
}

.domain-results h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.result-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
    font-size: 16px;
    color: #333;
}

.result-item p {
    font-size: 12px;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
